body {
  padding-top: 70px;
}

a {
  cursor: pointer;
}

.panel-planner {
  cursor: pointer;
}

.location-img {
  max-width: 140px;
  max-height: 140px;
  width: auto;
  height: auto;
}

#map {
  height: 500px;
}

#searchVal {
  margin-top: 20px;
}

blockquote {
  font-size: 1.0em;
}

textarea {
  resize: none;
}

.glyphicon-remove.pull-right {
  cursor: pointer;
}

.glyphicon-spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}

.result-searchbar {
  margin-top: 24px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
